<form id="add-annotation-form" action="" method="">
	<fieldset>
		<legend class="page-header"><h2>Add annotation</h2></legend>

		<div class="fluid-row">
			<label for="selected-preview">Selected text</label>
			<div class="preview" id="selected-preview"><%= preview %></div>
		</div>

		<div class="fluid-row">
			<label for="add-annotation-title">Title</label>
			<input type="text"  class="" id="add-annotation-title" placeholder="Title" />
		</div>

		<label>Annotation</label>
		<textarea class="span12 new-annotation-text" id="add-annotation-text" rows="4" placeholder="Enter annotation here"></textarea>
		<br />

		<button type="submit" class="btn btn-success pull-right" id="add-annotation">Submit</button>
	</fieldset>	
</form>